.card {
    box-shadow: 0 4px 8px 0 rgba(233, 198, 198, 0.2);
    max-width: 300px;
    margin: auto;
    margin-bottom: 40px;
    width: 300px;
    margin-top: 5px;
    text-align: center;
    font-family: arial;
}
.img {  
    width: 175px;
    height: 250px;
}
.btn {
    border: none;
    width: 100%;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #4f0f0f;
    cursor: pointer;
}
.title{
    color: rgb(231, 223, 223);
    font-size: 18px;
}
.price{
    color: rgb(236, 225, 225);
    font-size: 22px;
}