.product-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
  }
  
  .product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 0.7rem;
    margin-bottom: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: black;
  }
  
  .product-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .product-card h3 {
    font-size: 0.8rem;
    margin-bottom: 5px;
  }
  
  .product-card p {
    font-size: 0.9rem;
    margin-bottom: 5px;
  }
  
  .counter {
    display: flex;
    align-items: center;
  }
  
  button {
    height: 40%;
    padding: 20px;
    border: solid black;
    border-radius: 5px;
    background-color: rgb(102, 31, 79);
    color: #111010;
    font-weight: bolder;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .counter-button {
    background-color: transparent;
    border: none;
    padding: 100px;
    margin: 0;
    font-size: 1.5rem;
    height: 40px;
    display: flex;
    justify-content: center;
  }
  
  button:hover {
    background-color: #3b77a7;
    cursor: pointer;
  }
  
  .product-card:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
  