.menu{
    font-size: 25px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.items{
    margin: 30px;
    font-size: 25px;
    font-weight: 500;
    color: rgb(71, 2, 40);
    text-decoration:none;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}
a:hover {
    color:rgb(222, 154, 154);
}

header {
    position: relative;
    padding: 0 2rem;
}
.navbar {
    padding: 0;
    margin: 0;
    background-color: #e2ab6cbb;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav_list {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
}