.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
    color: aliceblue;
}
.title{
    color: rgb(196, 185, 185);
    font-size: px;
}
.description {
    color: rgb(196, 178, 178);
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
}
.price{
    color: grey;
    font-size: 22px;
}
