.productContainer {
    padding: 1em;
    margin: auto;
  }
  
  ul {
    display: flex;
    gap: 1.5em;
  }
  
  .productContainer {
    display: grid;
    grid-auto-rows: 500px;
    gap: 10px;
    text-align: center;
    line-height: 1.5;
    color: rgb(26, 8, 8);
    font-size: 17px;
    font-weight: bolder;
  }
  
  img {
    -webkit-box-shadow: 10px 11px 11px -4px rgba 0, 0, 0.36;
    -moz-box-shadow: 10px 11px 11px -4px rgba(0, 0, 0, 0.36);
    box-shadow: 10px 11px 11px -4px rgba(170, 22, 22, 0.36);
    border: solid black 2px;
  }
  
  .card {
    border: 1px solid #1d1d90;
    margin: 50px;
  }
  